[submodule "modules/ntp"]
	path = modules/ntp
	url = git@github.com:lieutdan13/puppetlabs-ntp.git
[submodule "modules/dns"]
	path = modules/dns
	url = git@github.com:lieutdan13/puppet-dns.git
[submodule "modules/concat"]
	path = modules/concat
	url = git@github.com:lieutdan13/puppet-concat.git
[submodule "modules/puppi"]
	path = modules/puppi
	url = git@github.com:lieutdan13/puppi.git
[submodule "modules/network"]
	path = modules/network
	url = git@github.com:lieutdan13/puppet-module-network.git
[submodule "modules/weave"]
	path = modules/weave
	url = git@github.com:lieutdan13/puppet-weave.git
[submodule "modules/git"]
	path = modules/git
	url = git@github.com:lieutdan13/puppet-git.git
