[submodule "modules/dns"]
	path = modules/dns
	url = git@github.com:lieutdan13/puppet-dns.git
[submodule "modules/puppet-concat"]
	path = modules/puppet-concat
	url = git@github.com:lieutdan13/puppet-concat.git
